# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Local configuration files
*.env
*.DS_Store
*.vscode/

# Logs and databases
*.log
*.sqlite3

# Compiled image files
*.png
*.jpg
*.jpeg

# Application-specific
/src/data/*.json
!src/data/default.json  # Varsayılan ayar dosyası hariç
/src/libs/apps/*.png
/src/libs/icon.*

# PyInstaller
dist/
build/
*.spec

# IDE specific
.idea/
*.iml
